<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjut.dao.ResultDao">
	<resultMap type="com.zjut.pojo.Result" id="resultMap">
		<id property="id" jdbcType="INTEGER" column="id"/>
		<result property="paperId" jdbcType="INTEGER" column="paperId"/>
		<result property="time" jdbcType="INTEGER" column="time"/>
		<result property="score" jdbcType="INTEGER" column="score"/>
		<result property="userid" jdbcType="INTEGER" column="userid"/>
		<result property="report" jdbcType="VARCHAR" column="report"/>
	</resultMap>
	        <!--试卷列表-->
    <select id="findAllpaperid" resultMap="resultMap">
        select paper_id from result;
    </select>
            <!--根据试卷号查看考试结果-->
    <select id="findbypaperid" resultMap="resultMap">
        select userid,time,score from result where paper_id = #{paper_id};
    </select>
        <!--答题用户以考试结果进行排序-->
    <select id="findbypaperidAndscore" resultMap="resultMap">
        select userid from result where paper_id = #{paper_id} order by score;
    </select>
        <!--答题用户以考试时间进行排序-->
    <select id="findbypaperidAndtime" resultMap="resultMap">
        select userid from result where paper_id = #{paper_id} order by time;
    </select>
</mapper>
