<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjut.dao.SoulsootherDao">
	<resultMap type="com.zjut.pojo.Soulsoother" id="soulsootherMap">
		<id property="soulsoother_id" jdbcType="INTEGER" column="soulsoother_id"/>
		         <!--前面是用户名称后面是数据库内名称-->
		<result property="soulsoother_content" jdbcType="VARCHAR" column="soulsoother_content"/>
	</resultMap>
    <!--保存心灵鸡汤-->
	<insert id="addSoulsoother" parameterType="com.zjut.pojo.Soulsoother">
	insert into soulsoother(soulsoother_content) values(#{soulsoother_content});
	</insert>
	<!--删除心灵鸡汤-->
    <delete id="deleteSoulsoother" parameterType="int">
        delete from soulsoother where soulsoother_id = #{soulsoother_id};
    </delete>
        <!--显示所有的心灵鸡汤-->
    <select id="findAllSoulsoother" resultMap="soulsootherMap">
        select * from soulsoother
    </select>
</mapper>