<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjut.dao.WrongqueDao">
	<resultMap type="com.zjut.pojo.Wrongque" id="wrongqueMap">
		<id property="wrongque_id" jdbcType="INTEGER" column="wrongque_id"/>
		         <!--前面是用户名称后面是数据库内名称-->
		<result property="userId" jdbcType="INTEGER" column="userId"/>
		<result property="wrongque_questionId" jdbcType="INTEGER" column="wrongque_questionId"/>
	</resultMap>
        <!--显示用户错题-->
    <select id="findWrongquebyuserID" resultMap="wrongqueMap">
        select wrongque_id from wrongque where userId=#{userId};
    </select>
</mapper>